header
    width: 99%
    height:70px
    margin: 0px auto
    border-radius: 0px 0px 15px 15px
        
    background: grey
    display: flex
    align-items: center
    .contenedor
        padding: 0 40px
        ul
            display: flex
            align-items: center
            li
                margin-right: 40px
                list-style-type: none
                img
                    width:60px
                a
                    display: inline-block
                    text-decoration: none
                    color: #ffffff
                    font-size: 20px
                    &:hover
                        text-decoration: underline
                        