@keyframes largeCircle
    from
        width: 150px
        height: 150px
        font-size: 18px
    to
        width: 175px
        height: 175px
        font-size: 21px

@keyframes info
    from
        width: 175px
        height: 175px
    to
        width: 80%
        height: 80%

.main
    padding: 100px 20px 
    background: #f2f2f2 url("../img/logo/background.png")
    display: flex
    align-items: center
    flex-direction: column
    .carrousel
        width: 99%
        height: 300px
        padding-left: 50%
        padding-top: 100px
        padding-right: 30px
        background: #000 url("../img/logo/workwithus.png")
        background-position: 0px -150px
        background-size: auto
        background-repeat: no-repeat
        position: relative
        z-index: 0
        border-radius: 20px
        h1
            text-align: right
            font-size: 35px
            color: #fff
        
    .projects
        width: 80%
        height: 100%
        margin: 50px
        padding: 0
        .descript
            display: none
        .close
            display: none
        .large
            animation-name: info
            animation-duration: 0.4s
            animation-fill-mode: forwards
            display: block
            position: relative
            border-radius: 2px 
            padding: 20px 40px 60px 40px
            width: 100%
            justify-content: center
            .descript
                display: block
                font-size: 16px
                color: #fff
                text-align: justify
            .close
                display: inline-block
                color: #fff
                text-align: right
                position: relative
                .cross
                    padding: 10px
                    font-size: 20px
                    border-radius: 100%      
                    &:hover
                        background: #000
            .title
                color: #fff
                text-align: center
                margin-bottom: 30px
                text-decoration: underline
                font-size: 30px
                font-weight: 500
        .circle
            width: 150px
            height: 150px
            display: flex
            flex-direction: column
            justify-content: center
            color: #fff
            font-size: 18px
            font-weight: 600
            border-radius: 100%
            &:hover
                cursor: pointer
                animation-name: largeCircle
                animation-duration: 1s
                animation-fill-mode: forwards
            p
                text-align: center
                justify-content: center
            .descript
                display: none
            .close
                display: none
                .cross
                    padding: 10px
                    font-size: 20px
                    border-radius: 100%      
                    &:hover
                        background: #000
        .yellow
            margin: 0% auto
            background: rgba(255, 144, 0, 1)
            &:hover
                background: rgba(255, 144, 0, 1)

        .blue
            margin: auto 0%
            float: left
            background: rgba(8, 8, 58, 1)
            &:hover
                background: rgba(8, 8, 58, 1)

        .red
            float: right
            background: rgba(237, 28, 16, 1)
            &:hover
                background: rgba(237, 28, 16, 1)
        