.main
    padding: 100px 20px
    background: #f2f2f2 url("../img/logo/background.png")
    display: flex
    align-items: center
    flex-direction: column
    .carrousel
        width: 99%
        height: 300px
        background: #000 url("../img/logo/workwithus.png")
        background-position: 0px -150px
        background-size: auto
        background-repeat: no-repeat
        position: relative
        z-index: 0
        border-radius: 20px
        h1
            text-align: center
            font-size: 35px
            color: #fff
        
    .proyectos
        width: 500px
        height: 450px
        margin: 50px
        padding: 0
        .circulo
            width: 150px
            height: 150px
            border-radius: 100%
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            color: #fff
            font-size: 18px
            font-weight: 600
        .amarillo
            margin: 0% auto
            background: rgb(255, 144, 0)
        .azul
            margin: auto 0%
            z-index: 0
            position: absolute
            background: rgb(8, 8, 58)
        .rojo
            margin: auto 70%
            background: rgb(237, 28, 16)
        .celeste
            margin: 0% auto
            background: rgb(23, 215, 230)
