* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sans-serif;
}

header {
  width: 99%;
  height: 70px;
  margin: 0px 0.5%;
  border-radius: 0px 0px 15px 15px;
  background: grey;
  display: fixed;
  position: fixed;
  align-items: center;
  z-index: 1;
}
header .container {
  padding: 0 40px;
}
header .container ul {
  display: flex;
  align-items: center;
}
header .container ul li {
  margin-right: 40px;
  list-style-type: none;
}
header .container ul li img {
  width: 60px;
}
header .container ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
header .container ul li a:hover {
  text-decoration: underline;
}

.main {
  padding: 100px 20px;
  min-height: 600px;
  background: #f2f2f2 url("../img/logo/background.png");
}
.main .form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.main .form label {
  color: #ffffff;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.main .form .email, .main .form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
}

footer {
  width: 100%;
  padding: 10px 200px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .social .link {
  font-size: 22px;
}
footer .social .link a {
  padding: 2px;
  text-decoration: none;
  color: #fff;
}
footer .social .link a:hover {
  text-decoration: underline;
}
footer .container {
  font-size: 35px;
}
footer .container a {
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 3px;
}
footer .container .twitter:hover {
  background: #55acee;
}
footer .container .facebook:hover {
  background: #3b5998;
}
footer .container .github:hover {
  background: #666666;
}
footer .container .instagram:hover {
  background: #3f729b;
}

@media screen and (max-width: 900px) {
  header .container ul {
    flex-wrap: wrap;
  }

  .main .carrousel {
    padding: 20px;
  }

  footer {
    padding: 0;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  footer .social {
    padding: 30px;
  }
  footer .container {
    padding: 30px;
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  header {
    margin: 0;
    width: 100%;
    border-radius: 0px;
    height: auto;
    display: flex;
    position: relative;
    justify-content: left;
    align-content: left;
  }
  header .container ul {
    flex-direction: column;
  }
  header .container ul li {
    border-bottom: 1px solid #fff;
    margin-right: 0px;
    padding: 30px;
  }
  header .container ul li a {
    font-size: 30px;
  }

  .main .projects {
    height: auto;
    width: auto;
  }
  .main .projects .circle {
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
    position: relative;
  }

  footer {
    padding: 0;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  footer .social {
    padding: 30px;
  }
  footer .container {
    padding: 30px;
    font-size: 70px;
  }
}

/*# sourceMappingURL=contactUs.css.map */
