
footer {
    width: 100%;
    padding: 20px 200px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .social .link {
    font-size: 22px;
}
footer .social .link a {
    padding: 2px;
    text-decoration: none;
    color: #fff;
}
footer .social .link a:hover {
    text-decoration: underline;
}
footer .container {
    font-size: 35px;
}
footer .container a {
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 3px;
}
footer .container .twitter:hover {
    background: #55acee;
}
footer .container .facebook:hover {
    background: #3b5998;
}
footer .container .github:hover {
    background: #666666;
}
footer .container .instagram:hover {
    background: #3f729b;
}
