.main {
    padding: 100px 20px;
    min-height: auto;
    background: #f2f2f2 url("../img/logo/background.png");
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main .carrousel {
    width: 99%;
    height: 300px;
    padding-left: 50%;
    padding-top: 100px;
    padding-right: 30px;
    background: #000 url("../img/logo/workwithus.png");
    background-position: -50px -150px;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    border-radius: 20px;
  }
  .main .carrousel h1 {
    text-align: right;
    font-size: 35px;
    color: #fff;
  }
  .main .projects {
    width: 90%;
    height: 100%;
    margin: 50px;
    padding: 0;
  }

  .main .projects .circle .title{
      text-decoration: underline;
      padding-bottom: 10px;
      padding-left: 20px;
  }

  .main .projects .info .descript {
    font-size: 16px;
    color: #fff;
    text-align: justify;
  }
  .main .projects .circle {
    width: 90%px;
    height: 150px;
    padding: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 10px;
  }
  .main .projects .circle p {
    text-align: left;
    justify-content: center;
  }
  
  .main .projects .yellow {
    background: #ff9000;
  }
  .main .projects .blue {
    background: #08083a;
  }
  .main .projects .red {
    background: #ed1c10;
  }
